{%extends 'base.html'%}
{%load humanize%}

{%block titulo%}{{post.titulo_post}} | True News{%endblock%}
                {% block conteudo %}
                <!-- POST -->
                <div class="container">
                    <div class="row pt-5">
                        <div class="col-xl"></div>
                        <div class="col-xl-8 text-left">
                            <h1>{{post.titulo_post}}</h1>
                            <br>
                            <h5 class="text-left text-muted">{{post.excerto_post}}.</h5>
                            <p class="text-weight-bold mt-5 text-center">

                                    {{post.autor_post}} |
                                    {{post.data_post}} |
                                    {{post.categoria_post}}

                            </p>
                        </div>
                        <div class="col-xl"></div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-xl"></div>
                        <div class="col-xl-8">
                            {% if post.imagem_post %}
                            <img class="img-fluid pb-5 " src="{{post.imagem_post.url}}" style="min-width:700px;" alt="{{post.titulo_post}}">
                            {% endif %}
                            <p class="text-justify">{{post.conteudo_post|safe }}</p>
                        </div>
                        <div class="col-xl"></div>
                    </div>

                    {% if comentarios %}
                    <div class="row pt-5">
                        <div class="col-xl"></div>
                            <div class="col-xl-8">
                                <h2 class="my-3">Comentários ({{ comentarios.count }})</h2>


                                {% for comentario in comentarios %}
                                <h5 class="mb-3 mt-5">{{comentario.nome_comentario }} disse:</h5>
                                <small class="text-muted">{{comentario.data_comentario|naturalday}}</small>
                                <p class="mb-1 mt-3">{{comentario.comentario}}</p>



                                {%endfor%}
                            </div>
                        <div class="col-xl"></div>
                    </div>
                    {%endif%}


                    <div class="row pt-5">
                        <div class="col-xl"></div>
                        <div class="col-xl-8">
                            <h2 class="my-3">Deixe um comentário</h2>

                            <form method="POST" action="">
                                {% csrf_token %}
                                <table class="table">
                                    {{form}}
                                    <tr>
                                        <td colspan="2">
                                            {% include 'parciais/_messages.html'%}
                                            <input id="envia_comentario" type="submit" class="btn btn-danger"
                                                value="Enviar">
                                        </td>
                                    </tr>
                                </table>
                            </form>


                        </div>
                        <div class="col-xl"></div>
                    </div>
                </div>
                <!-- POST -->
                {%endblock%}
